<div class="main">
    <div>
        <nav class="navbar navbar-dark bg-dark">
        <h3>Busca Atores</h3>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="number" placeholder="Nº de Atores" >
               <select class="form-control mr-sm-2" id="tipoPerfil">
                    <option value="0" selected>Gênero/Obra</option>
                    <option value="1">Novela</option>
                    <option value="2" >Filme</option>
                    <option value="3" >Série</option>
                </select>    
            <input class="form-control mr-sm-2" type="date" placeholder="Data das Gravações" >
            <input class="form-control mr-sm-2" type="number" placeholder="R$ Orçamento" >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
          </form>
        </nav>
    </div>
</div>
    