<div class="main">
  <div>
    <nav class="navbar navbar-dark bg-dark">
      <!-- Navbar content -->
      <h1>Dados Cadastrais</h1>
    </nav>
  </div>
<form [formGroup]="basicForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Nome</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="Nome" formControlName="nome" required>
       </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">CPF</label>
        <input type="number" class="form-control" id="validationCustom02" placeholder="CPF" formControlName="cpf" required>
      </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
        <label for="validationCustomUsername">Usuário</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
            </div>
                <input type="text" class="form-control" id="validationCustomUsername" placeholder="Usuário" formControlName="login" aria-describedby="inputGroupPrepend" required>
            </div>
        </div>

        <div class="col-md-4 mb-3">
        <label for="validationCustomUsername">Senha</label>
            <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">#</span>
            </div>
                <input type="password" class="form-control" id="validationCustomUsername" placeholder="senha" formControlName="senha" aria-describedby="inputGroupPrepend" required>
            </div>
        </div>
        
      <div class="col-md-2 mb-3">
        <label for="tipoPerfil">Tipo Perfil</label>
            <select id="tipoPerfil" class="form-control" formControlName="tipoPerfil">
              <option value="1">Produtor</option>
              <option value="2" selected>Ator/Artiz</option>
            </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label>Cachê</label>
        <input type="number" class="form-control" placeholder="R$ 0,00" formControlName="cache"required>
      </div>
      <div class="col-md-5 mb-3 " >
        <label class="chek-box-align">Gênero/Obra</label>
        <select id="generoobra" class="form-control" formControlName="tipoPerfil">
          <option value="1">Novela</option>
          <option value="2">Filme</option>
          <option value="3" >Serie</option>
        </select>
      </div>
        
      <div class="col-md-2 mb-3">
        <label>Data Disponibilidade</label>
        <input type="date" formControlName="dataDisponibilidade" class="form-control"required>
      </div>
    </div>    
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Cidade</label>
        <input type="text" class="form-control" id="validationCustom03" formControlName="cidade" placeholder="Cidade" required>
      </div>
      <div class="col-md-2 mb-3">
        <label for="validationCustom04">Estado</label>
        <input type="text" class="form-control" id="validationCustom04" formControlName="estado" placeholder="Estado" required>
      </div>
      <div class="col-md-2 mb-3">
        <label for="validationCustom05">CEP</label>
        <input type="number" class="form-control" id="validationCustom05" placeholder="CEP" formControlName="cep" required>
      </div>
    </div>
    <button class="btn btn-black" type="submit">Enviar</button>
  </form>
</div>
  