h1{
    color: #fff;
    width: 100%;
}
    .main{
        margin-left: 5%;
        margin-right: 5%; 
    }

    .btn-black{
        background-color: #000 !important;
        color: #fff;
    }

    nav{
        margin-bottom: 1%;;
    }

    .chek-box-align{
        margin-left: 20%;
    }